body {
    padding: 0;
    margin: 0;
    background-image: url("/media/wave_background_44.jpg");
    background-repeat: repeat; 
    background-size: auto;
  }

.jumbo-element-edit {
    border-radius: 0 5vw 0 0;
    padding: 10px;
    opacity: 0.9;
}

.left-col {
    background-color: rgb(170, 153, 185);
}

.mid-col {
    background-color: cornflowerblue;
}

.right-col {
    background-color: rgb(153, 178, 202);
}

.left-col, .mid-col, .right-col {
    border-radius: 2vw;
    margin: 10px;
    opacity: 0.8;
}

.footer-custom {
    background-color: rgb(33,37,41);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}


